@import "./mixin.scss";
.card{
  padding: 0 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 8px;
  height: 64px;
  background: linear-gradient(180deg, #334773 0%, #1C2A4A 100%);
  box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  @include flex(row,space-between,center,nowrap);
  position: relative;
  .unavailable{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 .7rem;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: rgba(102, 114, 140, 0.3);
    border-radius: 8px 0px 8px 0px;
    font-size: .8rem;
    color:#66728C;
  }
  .available{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 .7rem;
    text-indent: .4rem;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: linear-gradient(270deg, #0191FB 0%, #00AC77 100%);
    border-radius: 8px 0px 8px 0px;
    color: #00CFBB;
    font-size: .8rem;
    
    &::before{
      content: '';
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: .4rem;
      position: absolute;
      width: 4px;
      height: 4px;
      background: #00CFBB;
      border-radius: 50%;
      line-height: 0;
      margin-right: 4px;
    }
  }
}
.card-left{
  @include flex(row,flex-start,center,nowrap);
  width: 60%;
}
.add-favorite{
  margin-right: .8rem;
  color: #66728C;
  cursor: pointer;
  font-size: 1.2rem;
  :global{
    .bi-heart-fill{
      color:#00CFBB;
    }
  }
}
.name{color:#00CFBB;font-size: 0.8rem;margin-right: .8rem;}
.time{color:#66728C;font-size: 0.6rem; @include no-wrap;}
.btn-reg,.notice-btn{
  height: 26px;
  background: rgba(0, 207, 187, 0.1);
  border-radius: 8px;
  color: #00CFBB;
  border: 1px solid #00CFBB;
  font-size: 12px;
  text-transform: uppercase;
  padding: .4rem .5rem;
  display: block;
  transition: all .3s;
  outline: none;
  &:hover{
    background: rgba(0, 255, 230, 0.3);
      border: 1px solid #00FFE6;
      color:#00CFBB;
  }
}


@media screen and (min-width: 576px){
  .card{
    height: 84px;
    .available,.unavailable{
      height: 20px;
      line-height: 20px;}
  }
  .add-favorite{
    font-size: 1.6rem;
  }
  .name{font-size: 1rem;}
  .time{font-size: 1rem;}
  .btn-reg{height: 40px;line-height: 40px;padding: 0 .7rem;font-size: 1rem;}
  .notice-btn{height: 30px;line-height: 30px;padding: 0 .7rem;font-size: 1rem;}
}
  

