.faq-wrap {
  max-width     : 960px;
  margin        : auto;
  padding-top   : 2.75rem;
  padding-bottom: 100px;

  :global {
    .semi-collapse-item {
      background   : linear-gradient(rgba(51, 71, 115, .5), rgba(28, 42, 74, .5));
      margin-bottom: 20px;
    }

    .semi-collapse-header {
      font-size  : 20px;
      min-height : 64px;
      padding    : 0 15px;
      font-family: "AlibabaPuHuiTiR";
      color      : #FFFFFF;
      font-weight: normal;

      .semi-icon-default {
        font-size: 20px !important;
      }

      .semi-collapse-header-icon {
        color: #00CFBB;
      }

      &:hover {
        background: transparent !important;
      }
    }

    .semi-collapsible-wrapper {
      &::before {
        content      : '';
        display      : block;
        height       : 1px;
        width        : 100%;
        margin-bottom: 20px;
        background   : radial-gradient(closest-side, rgba(94, 106, 132, .5), rgba(82, 93, 119, 0));
      }
    }

    .semi-collapse-content {
      color         : #879BC5;
      font-size     : 16px;
      font-family   : "AlibabaPuHuiTiR";
      padding-bottom: 30px;
    }
  }
}

.faq-table {
  :global {

    .semi-table-thead>.semi-table-row>.semi-table-row-head,
    .semi-table-tbody>.semi-table-row>.semi-table-row-cell {
      color: #879BC5;
    }
  }
}
.faq-table-dosc{
  padding-top: 20px;
  p{
    font-size: 13px;
  }
}