.pendingOrder-modal{
  :global{
    .semi-modal-content{
      background: linear-gradient(180deg, #334773 0%, #1C2A4A 100%) !important;
    }
  }
}
.pendingOrder-modal-text{
  text-align: center;
  color: #00CFBB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px!important;
  padding: 1.5rem 0;
  :global{
    .semi-spin{margin-right: 10px;}
    .semi-spin-wrapper{color: #00CFBB;}
  }
}