@import './mixin.scss';
.serach-content{
  padding-top: 0;
  max-width: 960px;
  margin: auto;
  padding-top: 2.75rem;
  padding-bottom: 100px;
}
.search-name{
  color: #D9E1F2;
  margin-bottom: 2.5rem;
}
.search-address{
  
  @include flex(row,flex-start,center,nowrap);
  margin-bottom: 2rem;
  .icon{
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, #334773 0%, #1C2A4A 100%);
    box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #00CFBB;
    margin-right: 1rem;
  }
  .address{
    color: #D9E1F2;
    margin-right: .6rem;
    height: 20px;
    @include no-wrap();
  }
}
.noicp{
  color: #c8d0e2;
  background: linear-gradient(
180deg, #101B34 0%, #060E23 100%);
  padding: 2.5rem 0.75rem;
  border-radius: 12px;
  border: 1px solid #1E2C44;
  text-align: center;
}
.search-result{
  :global{
    .nav-tabs{
      border: none;
      flex-wrap: nowrap;
    }
    .nav-item{
      width: 50%;
    }
    .nav-link{
      background: linear-gradient(180deg, #334773 0%, #1C2A4A 100%);
      width: 100%;
      color: rgba(217, 225, 242, .5);
      border: 1px solid #384B6E;
      font-size: 1rem;
      height: 40px;
      box-shadow: none;
      &:hover, &:focus{
        border: 1px solid #384B6E;
      }
      &.active{
        background: linear-gradient(360deg, #0E5FA3 0%, #00CFBB 100%);
        color: #00CFBB;
        border-color: #00D9E5;
      }
    } 
  }
}

.pending-order{
  margin: 0.75rem 0.75rem 0;
  color: #00CFBB;
}
.skeleton-pargraph{
  width: 100%;
  :global{
    .semi-skeleton-paragraph li{
      height: 64px;
    }
    .semi-skeleton-paragraph li:last-child{
      width: 100%;
    }
  }
}
.myaccount-list{
  :global{
    .semi-list-header{
      padding: 0 0 .75rem;
    }
    .semi-input-wrapper-default{
      height: 40px;
      border-radius: 4px;
      border:1px solid RGBA(23, 34, 58, 1)
    }
    .semi-input-wrapper-focus,
    .semi-input-wrapper-focus:active{
      border-color: #00CFBB;
    }
    .semi-input-default{
      @include beauty-placeholder(16px,rgba(249,249,249,.6))
    }
  }
}


@media screen and (min-width: 768px){
  .serach-content{
    padding-top: 80px;
  }
  .icon{
    margin-right: 20px;
  }
  .search-result{
    :global{
      .nav-item{
        width: auto;
      }
      .nav-item:first-child{
        .nav-link{
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0.25rem;
        } 
      }
      .nav-item:last-child{
        .nav-link{
          border-top-left-radius: 0;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        } 
      }
      
    }
  }
  .myaccount-list{
    position: relative;
    :global{
      .semi-list-header{
        position: absolute;
        right: 0;
        top: -54px;
        padding: 0;
      }
    }
  }
}
  
