name: MainNet CI
on:
  push:
    branches:
    - preprod
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
        - uses: actions/checkout@v2

        - name: Install dependencies
          run: npm install

        - name: Build
          run: npm run build:mainnet

        # app.icnaming.com
        - name: Deploy app.icnaming.com
          uses: reggionick/s3-deploy@v3
          with:
            folder: build
            bucket: ${{ secrets.S3_BUCKET }}
            bucket-region: ${{ secrets.S3_BUCKET_REGION }}
            dist-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
            invalidation: /*
            delete-removed: true
            no-cache: false
            private: true

        # app-testnet.icnaming.com
        - name: Deploy app-testnet.icnaming.com
          uses: reggionick/s3-deploy@v3
          with:
            folder: build
            bucket: ${{ secrets.TESTNET_S3_BUCKET }}
            bucket-region: ${{ secrets.S3_BUCKET_REGION }}
            dist-id: ${{ secrets.TESTNET_CLOUDFRONT_DISTRIBUTION_ID }}
            invalidation: /*
            delete-removed: true
            no-cache: false
            private: true

        # whitelist.icnaming.com        
        - name: Deploy whitelist.icnaming.com
          uses: reggionick/s3-deploy@v3
          with:
            folder: build
            bucket: ${{ secrets.S3_WHITE_LIST_BUCKET }}
            bucket-region: ${{ secrets.S3_BUCKET_REGION }}
            dist-id: ${{ secrets.WHITE_LIST_CLOUDFRONT_DISTRIBUTION_ID }}
            invalidation: /*
            delete-removed: true
            no-cache: false
            private: true